{% extends "/shared/base.jinja2" %}
{% block title %}Home{% endblock %}
{% block main %}
<p>
    Welcome to Note-Mark the web-based note taking
    program that renders your markdown notes in beautiful HTML.
</p>
<p>
    To get started create an account <a href="{{ url_for('auth.signup') }}">here</a>.
    Or use a share link if you have been given one.
</p>
<a class="button" href="{{ url_for('share_link.index') }}">Use Share Link</a>
<a href="{{ url_for('admin.index') }}" class="button">Admin</a>
{% endblock %}
