{% extends "/shared/base.jinja2" %}
{% block title %}Home{% endblock %}
{% block main %}
<img src="{{ url_for('static', filename='icon-256.png') }}" alt="site icon">
<h1>Note Mark</h1>
<h2>A Fast, Simple Markdown Note Application.</h2>
<h3>Features</h3>
<ul>
    <li>Notebook sharing</li>
    <li>View notes in HTML</li>
    <li>Fast on lower end devices, like a Raspberry Pi</li>
    <li>Cross-Platform, built with Python 3</li>
    <li>Containerized, built Docker image</li>
    <li>Stunning look, with site theme picker</li>
</ul>
<p>
    To get started create an account <a href="{{ url_for('auth.signup') }}">here</a>.
    Or use a share link if you have been given one.
</p>
<a class="button" href="{{ url_for('share_link.index') }}">Use Share Link</a>
<a href="{{ url_for('admin.index') }}" class="button">Admin</a>
{% endblock %}
