quart==0.15.*
quart-auth==0.5.*
tortoise-orm==0.17.*
# used for health checking api
web-health-checker==1.1.2
pydantic[dotenv]==1.8.*
markdown==3.3.*

# optional json accelerator
python-rapidjson==1.4
