{% extends "/shared/base.jinja2" %}
{% block title %}Notebook Link Shares{% endblock %}
{% block main %}
<a class="button" href="{{ url_for('personal_home.get_notebook', notebook_uuid=notebook_uuid) }}">Back To Notebook</a>
<form action="{{ url_for('personal_home.share_link', notebook_uuid=notebook_uuid) }}" method="post">
    <h3>Add Link Share</h3>
    <label for="notebook-share-link-writeaccess">Write Access</label>
    <input type="checkbox" name="write_access" id="notebook-share-link-writeaccess" value="1">
    <label for="notebook-share-link-expiry">Expiry</label>
    <input type="datetime-local" name="expiry" id="notebook-share-link-expiry">
    <button type="submit">Add</button>
</form>
<table>
    <thead>
        <tr>
            <th>Code (UUID4)</th>
            <th>Has Write</th>
            <th>Expires</th>
        </tr>
    </thead>
    <tbody>
        {% for share in link_shares %}
        <tr>
            <td>{{ share.uuid }}</td>
            <td>{{ share.has_write }}</td>
            <td>{{ share.expires }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>
    Take note anyone can use these codes, as they don't require
    a account login. So keep these codes safe.
    If you want to share to a specific user
    that already has an account,
    it's recommended to use a user share instead.
</p>
<script>
    listen_for_ws_updates(`{{ url_for('api.notebook_update_ws', notebook_uuid=notebook_uuid, token=get_ws_token()) }}`);
    window.addEventListener(
        get_ws_event_type(WS_MESSAGE_CATEGORY.NOTEBOOK_REMOVE),
        _event => { handle_notebook_remove("{{ url_for('personal_home.index') }}") });
</script>
{% endblock %}
