{% extends "/shared/base.jinja2" %}
{% block title %}Notebook Link Shares{% endblock %}
{% block main %}
<h2>Link Shares</h2>
<div class="control-bar">
    <a class="button" href="{{ url_for('personal_home.get_notebook', notebook_uuid=notebook_uuid) }}" title="Back To Notebook">{{ macros.feather_img('arrow-left') }}</a>
</div>
<form action="{{ url_for('personal_home.share_link', notebook_uuid=notebook_uuid) }}" method="post">
    <h3>Add New</h3>
    <label for="notebook-share-link-writeaccess">Write Access</label>
    <input type="checkbox" name="write_access" id="notebook-share-link-writeaccess" value="1">
    <label for="notebook-share-link-expiry">Expiry</label>
    <input type="datetime-local" name="expiry" id="notebook-share-link-expiry">
    <button type="submit">Add</button>
</form>
<table>
    <caption>Existing Links</caption>
    <thead>
        <tr>
            <th>Code (UUID4)</th>
            <th>Has Write</th>
            <th>Expires</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for share in link_shares %}
        <tr>
            <td class="col-copy">
                <input type="text" value="{{ share.uuid }}" readonly>
                <button onclick="copy_to_clipboard(`{{ url_for('home.get_sharelink_notebook', _external=True, share_uuid=share.uuid) }}`)" title="Copy To Clipboard">{{ macros.feather_img('copy') }}</button>
            </td>
            <td>{{ share.has_write }}</td>
            <td>{{ share.expires }}</td>
            <td><button onclick="do_fetch_get_reload(`{{ url_for('api.delete_share_link', share_uuid=share.uuid) }}`)" title="Delete Link Share">{{ macros.feather_img('x') }}</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>
    Take note anyone can use these codes, as they don't require
    a account login. So keep these codes safe.
    If you want to share to a specific user
    that already has an account,
    it's recommended to use a user share instead.
</p>
<script>
    listen_for_ws_updates(`{{ url_for('api.notebook_update_ws', notebook_uuid=notebook_uuid, token=get_ws_token()) }}`);
    window.addEventListener(
        get_ws_event_type(WS_MESSAGE_CATEGORY.NOTEBOOK_REMOVE),
        _event => { handle_notebook_remove("{{ url_for('personal_home.index') }}") });
</script>
{% endblock %}
