<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Note-Mark</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% block extrahead %}{% endblock %}
</head>

<body>
    <header>
        <h1>{{ self.title() }}</h1>
        <nav>
            {% block nav %}
            {% if current_user.is_authenticated %}
            <a class="button" href="{{ url_for('personal_home.index') }}">My Home</a>
            <a class="button" href="{{ url_for('auth.logout') }}">Logout</a>
            {% else %}
            <a class="button" href="{{ url_for('home.index') }}">Home</a>
            <a class="button" href="{{ url_for('auth.login') }}">Login</a>
            {% endif %}
            {% endblock %}
        </nav>
    </header>
    {% include "/shared/includes/flashed-messages.jinja2" %}
    <main class="container">
        {% block main %}
        {% endblock %}
    </main>
    <footer>Running Note-Mark V{{ config["__VERSION__"] }}, provided by <strong><a href="https://github.com/enchant97">enchant97</a></strong></footer>
</body>

</html>
