{% extends "/shared/base.jinja2" %}
{% block title %}Rename Note{% endblock %}
{% block main %}
<form class="container" action="{{ url_for('personal_home.rename_note', notebook_uuid=notebook_uuid, note_uuid=note_uuid) }}" method="post">
<label for="note-name">Name</label>
<input type="text" name="prefix" id="note-name" required placeholder="name..." maxlength="100">
<button class="button" type="submit">Save</button>
</form>
<script>
    listen_for_ws_updates(`{{ url_for('api.note_update_ws', notebook_uuid=notebook_uuid, note_uuid=note_uuid, token=get_ws_token()) }}`);
    window.addEventListener(
        get_ws_event_type(WS_MESSAGE_CATEGORY.NOTE_REMOVE),
        _event => { handle_note_remove("{{ url_for('personal_home.get_notebook', notebook_uuid=notebook_uuid) }}") });
    window.addEventListener(
        get_ws_event_type(WS_MESSAGE_CATEGORY.NOTEBOOK_REMOVE),
        _event => { handle_notebook_remove("{{ url_for('personal_home.index') }}") });
</script>
{% endblock %}
