{% extends "/shared/base.jinja2" %}
{% block title %}Change Password{% endblock %}
{% block nav %}{% include "/shared/includes/admin-nav.jinja2" %}{% endblock %}
{% block main %}
<p>
    Passwords must have a length of 8 characters or more,
    upper and lowercase letters, a number and a symbol.
</p>
<form class="container" action="" method="post">
    <label for="new-password">New Password</label>
    <input type="password" name="new-password" id="new-password" placeholder="new password..."
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
    <label for="new-password-conf">New Password Confirm</label>
    <input type="password" name="new-password-conf" id="new-password-conf" placeholder="new password confirm..."
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
    <label for="user-uuid">User</label>
    <select name="user-uuid" id="user-uuid" required>
        <option value=""></option>
        {% for user in users %}
        <option value="{{ user.uuid }}">{{ user.username }}</option>
        {% endfor %}
    </select>
    <button type="submit">Change</button>
</form>
{% endblock %}
