{% extends "/shared/base.jinja2" %}
{% block title %}Admin Dashboard{% endblock %}
{% block nav %}{% include "/shared/includes/admin-nav.jinja2" %}{% endblock %}
{% block main %}
<a href="{{ url_for('admin.stats') }}" class="button">Stats</a>
<a href="{{ url_for('admin.user_list') }}" class="button">Users</a>
<a href="{{ url_for('admin.change_user_password') }}" class="button">Change User Password</a>
<a href="{{ url_for('admin.delete_user') }}" class="button">Delete User</a>
<a href="{{ url_for('admin.export_v1_meta') }}" class="button" download="meta-v1.json">Export V1 Meta</a>
<a href="{{ url_for('admin.export_v1_internal') }}" class="button">Export Internal</a>
{% endblock %}
