{% extends "/shared/base.jinja2" %}
{% block title %}Admin Dashboard{% endblock %}
{% block nav %}{% include "/shared/includes/admin-nav.jinja2" %}{% endblock %}
{% block main %}
<a href="{{ url_for('admin.change_user_password') }}" class="button">Change User Password</a>
{% endblock %}
