<button type="button" onclick="edit_textarea_indent()">Indent</button>

<button type="button" onclick="edit_textarea_wrap_sel(MARKDOWN_SYNTAX.EMPHASIS.ITALIC)"><i>I</i></button>
<button type="button" onclick="edit_textarea_wrap_sel(MARKDOWN_SYNTAX.EMPHASIS.BOLD)"><b>B</b></button>

<button type="button" onclick="edit_textarea_insert(MARKDOWN_SYNTAX.LINK)">Link</button>
<button type="button" onclick="edit_textarea_insert(MARKDOWN_SYNTAX.IMAGE)">Image</button>
<button type="button" onclick="edit_textarea_insert(MARKDOWN_SYNTAX.TASK)">Task</button>
<button type="button" onclick="edit_textarea_insert(MARKDOWN_SYNTAX.BLOCKQUOTE)">Block Quote</button>
