{% with messages = get_flashed_messages(with_categories=true) %}
<div class="flashes" id="flashes">
{% for category, message in messages %}
  <div class="{{ category }}" data-dismiss="flash">
    <strong>{{ message }}</strong>
    <span onclick="this.parentElement.style.display='none';">&times;</span>
  </div>
{% endfor %}
</div>
{% endwith %}
