{% extends "/shared/base.jinja2" %}
{% block title %}Rename Notebook{% endblock %}
{% block main %}
<h2></h2>
<div class="control-bar">
    <a href="{{ url_for('personal_home.get_notebook', notebook_uuid=notebook_uuid) }}" class="icon-bnt" title="Back To Notebook">{{ macros.feather_img('arrow-left') }}</a>
</div>
<form class="container" action="{{ url_for('personal_home.rename_notebook', notebook_uuid=notebook_uuid) }}" method="post">
    <label for="notebook-name">Name</label>
    <input type="text" name="prefix" id="notebook-name" required placeholder="name..." maxlength="100">
    <button class="button" type="submit">Save</button>
</form>
<script>
    listen_for_ws_updates(`{{ url_for('api.notebook_update_ws', notebook_uuid=notebook_uuid, token=get_ws_token()) }}`);
    window.addEventListener(
        get_ws_event_type(WS_MESSAGE_CATEGORY.NOTEBOOK_REMOVE),
        _event => { handle_notebook_remove("{{ url_for('personal_home.index') }}") });
</script>
{% endblock %}
