{% extends "/shared/base.jinja2" %}
{% block title %}Edit Note{% endblock %}
{% block main %}
<h2>{{ note.prefix }}</h2>
<a class="button" href="{{ url_for('share_link.get_notebook', share_link_uuid=share_link_uuid) }}">Back To Notebook</a>
<a class="button" href="{{ url_for('share_link.view_note', share_link_uuid=share_link_uuid, note_uuid=note.uuid) }}">View</a>
<form class="container" id="form-edit-note" action="" method="post">
    <button type="submit">Save</button>
    <textarea name="content" id="edit-note-content" placeholder="enter content...">{{ content }}</textarea>
</form>
<script>
    // script to control auto resize of text-area
    const text_area = document.getElementById("edit-note-content");
    text_area.style.height = (text_area.scrollHeight + "px");
    text_area.addEventListener("input", evn => { auto_resize_elem(text_area); });
</script>
{% endblock %}
