{% extends "/shared/base.jinja2" %}
{% block title %}Edit Note{% endblock %}
{% block extrahead %}
<script src="{{ url_for('static', filename='textarea-edit.js') }}" defer></script>
{% endblock %}
{% block main %}
<h2 id="note-prefix">{{ note.prefix }}</h2>
<div class="control-bar">
    <a class="button" href="{{ url_for('share_link.get_notebook', share_link_uuid=share_link_uuid) }}">Back To Notebook</a>
    <a class="button" href="{{ url_for('share_link.view_note', share_link_uuid=share_link_uuid, note_uuid=note.uuid) }}">View</a>
</div>
<form class="container" id="form-edit-note" action="" method="post">
    <div class="control-bar">
        <button type="submit">Save</button>
        {% include "/shared/includes/edit-toolbox.jinja2" %}
    </div>
    <textarea name="content" id="edit-note-content" placeholder="enter content..." autofocus="true">{{ content }}</textarea>
    <input type="hidden" name="updated_at" value="{{ note.updated_at }}">
</form>
{% endblock %}
