{% extends "/shared/base.jinja2" %}
{% block title %}My Home{% endblock %}
{% block main %}
<h2>Welcome Back</h2>
<div class="control-bar">
    <a class="icon-bnt" href="{{ url_for('personal_home.new_notebook') }}" title="New Notebook">{{ macros.feather_img('folder-plus') }}</a>
    <a class="icon-bnt" href="{{ url_for('share_link.index') }}" title="Use Share Link">{{ macros.feather_img('link') }}</a>
    <a href="{{ url_for('account.index') }}" class="icon-bnt" title="My Account">{{ macros.feather_img('user') }}</a>
</div>

<section class="container" id="personal-notebooks">
    <h3>My Notebooks</h3>
    {% include('/shared/includes/notebook_personal.jinja2') %}
</section>

<section class="container" id="shared-notebooks">
    <h3>Shared Notebooks</h3>
    {% include('/shared/includes/notebook_shared.jinja2') %}
</section>

{% endblock %}
