# file: docker-compose.yml
# built-for: 0.19
volumes:
  data:

services:
  note-mark:
    image: ghcr.io/enchant97/note-mark-aio
    restart: unless-stopped
    volumes:
      - data:/data
    environment:
      # !!! REPLACE These !!!
      JWT_SECRET: "!!! REPLACE ME !!!"
      PUBLIC_URL: "http://notemark.example.com"
    ports:
      - 80:8080
