@import "highlight.js/styles/atom-one-dark.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.prose input {
    margin: 0 .4rem 0 0;
}

.prose table {
    width: auto;
}

@layer utilities {
    .full-screen {
        z-index: 100;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

@layer components {
    .bg-base-300-blur {
        @apply bg-base-300/[.5] backdrop-blur-md;
    }
}
