:root {
    --font-dark: black;
    --font-light: #f0f0f0;
    --font-placeholder: #505a69;
    --bg-bnt: #adadad;
    --bg-body: #9299a5;
    --bg-body2: #9096a1;
    --bg-body3: #767d8a;
    --border-col: #777777;
    --border-radius: 10px;
    --font-family-title: 'Roboto', sans-serif;
    --font-family-main: 'Open Sans', sans-serif;
    --font-family-code: 'Roboto Mono', monospace;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: var(--bg-body);
}

body::-webkit-scrollbar-thumb {
    background-color: #4b4b4b;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #353535;
}

body::-webkit-scrollbar-thumb:active {
    background-color: black;
}

/* font reset */
div,
span,
applet,
object,
iframe,
p,
blockquote,
a,
abbr,
acronym,
address,
big,
cite,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
button,
textarea,
input {
    font-family: var(--font-family-main);
    font-size: 1em;
}

code,
code span {
    font-family: var(--font-family-code);
    font-size: 0.9em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-title);
    text-align: center;
}

h1 {
    font-size: 2em;
}

a {
    color: #00048c;
    text-decoration: none;
}

body {
    background-color: var(--bg-body);
}

/* header styles */
header {
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

header h1 {
    margin-right: auto;
}

header nav {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* button styles */
button,
.button {
    border: none;
    text-decoration: none;
    color: var(--font-dark);
    padding: 10px 20px;
    background-color: var(--bg-bnt);
    border-radius: var(--border-radius);
}

button:hover,
.button:hover {
    cursor: pointer;
    transition-duration: 400ms;
    background-color: black;
    color: var(--font-light);
}

/* input/form styles */
input {
    padding: 2px 6px;
    background-color: var(--bg-body3);
    color: var(--font-light);
    border: 2px solid black;
    border-radius: var(--border-radius);
}

::placeholder {
    color: var(--font-placeholder);
    opacity: 1;
}

/* flash styles */
.flashes {
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: var(--font-light);
}

.flashes div {
    border-radius: var(--border-radius);
    padding: 10px;
    margin-bottom: 5px;
}

.flashes div span {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.flashes div span:hover {
    color: black;
}

.flashes .ok {
    background-color: #3c9630;
}

.flashes .error {
    background-color: #c24141;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    align-items: center;
    gap: 10px;
}


.control-bar {
    width: 100%;
    display: flex;
    gap: 4px;
    background-color: var(--bg-body2);
    padding: 4px;
    border-radius: var(--border-radius);
    overflow-x: auto;
    flex-wrap: nowrap;
}

#note-content {
    width: 100%;
    background-color: var(--bg-body2);
    word-break: break-word;
}

#note-content .codehilite {
    border-radius: var(--border-radius);
    color: var(--font-light);
    padding: 4px 10px;
    background-color: var(--bg-body3);
    margin: 4px 0px;
    overflow: auto;
}

#note-content .codehilite pre {
    margin: 0;
}

/* table styles */
table {
    width: 100%;
    border-bottom: 4px solid var(--bg-body3);
    border-spacing: 0;
}

table th,
table td {
    border-bottom: 1px solid var(--border-col);
    border-right: 1px solid var(--border-col);
    padding: 8px;
}

table thead {
    color: var(--font-light);
    background-color: var(--bg-body3);
}

table thead tr:first-child th:first-child {
    border-top-left-radius: var(--border-radius);
}

table thead tr:first-child th:last-child {
    border-top-right-radius: var(--border-radius);
}

table thead th {
    padding-top: 10px;
    padding-bottom: 10px;
}

table tr:last-child>td {
    border-bottom: none;
}

table tr td:last-child,
table tr th:last-child {
    border-right: none;
}

textarea {
    padding: 2px 6px;
    border: 2px solid black;
    border-radius: var(--border-radius);
    background-color: var(--bg-body2);
    resize: none;
    width: 100%;
    overflow-y: hidden;
    outline: none;
}

/* footer styles */
footer {
    text-align: center;
    margin-top: 100px;
    border-top-style: solid;
    padding-top: 10px;
}

/* code lang colors */
.s2,
.cpf,
.sc,
.s {
    color: #00fd9c;
}

.k,
.cp,
.kt,
.o {
    color: #3cc92a;
}

.mi,
.mf {
    color: #ff93aa;
}

.cm,
.c1 {
    color: #cecece;
}
