{% extends "/shared/base.jinja2" %}
{% block title %}Rename Notebook{% endblock %}
{% block main %}
<a class="button" href="{{ url_for('personal_home.get_notebook', notebook_uuid=notebook_uuid) }}">Back To Notebook</a>
<form class="container" action="{{ url_for('personal_home.rename_notebook', notebook_uuid=notebook_uuid) }}" method="post">
<label for="notebook-name">Name</label>
<input type="text" name="prefix" id="notebook-name" required placeholder="name..." maxlength="100">
<button class="button" type="submit">Save</button>
</form>
{% endblock %}
