{% extends "/shared/base.jinja2" %}
{% block title %}View Notebook{% endblock %}
{% block main %}
<h2>{{notebook.prefix }}</h2>
{% if is_owner == True %}
<a href="{{ url_for('personal_home.delete_notebook', notebook_uuid=notebook.uuid) }}">Delete Notebook</a>
<form action="{{ url_for('personal_home.add_user_share', notebook_uuid=notebook.uuid) }}" method="post">
    <h3>Add User Share Notebook</h3>
    <label for="notebook-share-user-uuid">Users</label>
    <select name="user_uuid" id="notebook-share-user-uuid" required>
        <option value=""></option>
        {% for user in users %}
        {% if current_user.auth_id != user.uuid.hex %}
        <option value="{{ user.uuid }}">{{ user.username }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <label for="notebook-share-user-writeaccess">Write Access</label>
    <input type="checkbox" name="write_access" id="notebook-share-user-writeaccess" value="1">
    <button type="submit">Add</button>
</form>
{% endif %}
{% endblock %}
