{% extends "/shared/base.jinja2" %}
{% block title %}View Notebook{% endblock %}
{% block main %}
<h2>{{notebook.prefix }}</h2>
<div class="control-bar">
    <a class="button" href="{{ url_for('personal_home.index') }}">Back To Home</a>
    {% if scope in ("write", "owner") %}
    <a class="button" href="{{ url_for('personal_home.new_note', notebook_uuid=notebook.uuid) }}">Create Note</a>
    {% endif %}
    {% if scope == "owner" %}
    <a class="button" href="{{ url_for('personal_home.rename_notebook', notebook_uuid=notebook.uuid) }}">Rename</a>
    <button onclick="ask_before_get(`{{ url_for('personal_home.delete_notebook', notebook_uuid=notebook.uuid) }}`)">Delete</button>
    {% endif %}
</div>

{% if scope == "owner" %}
    <a href="{{ url_for('personal_home.user_share', notebook_uuid=notebook.uuid) }}" class="button">Manage User Shares</a>
    <a href="{{ url_for('personal_home.share_link', notebook_uuid=notebook.uuid) }}" class="button">Manage Link Shares</a>
{% endif %}

<div class="container" id="notes">
<h3>Notes</h3>
{% for note in notes %}
    <a class="button" href="{{ url_for('personal_home.view_note', notebook_uuid=notebook.uuid, note_uuid=note.uuid) }}">{{ note.prefix }}</a>
{% endfor %}
</div>
{% endblock %}
