{% extends "/shared/base.jinja2" %}
{% block title %}Login{% endblock %}
{% block main %}
<form action="{{ url_for('auth.login') }}" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <button type="submit">Login</button>
    <a href="{{ url_for('auth.signup') }}">Create Account</a>
</form>
{% endblock %}
